{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

                                <label for="descriptif">Descriptif :</label>
                                <textarea name="descriptif" class="form-control mb-2">{{ prestation.textePresta }}</textarea>
                                
                                <div class="d-flex justify-content-between mt-3"> <!-- Centrer les boutons et les espacer -->
                                    <button type="submit" class="btn btn-primary w-45">Modifier</button>
                                    
                                    <form action="{{ path('prestations_delete', {id: prestation.id}) }}" method="POST" class="d-inline-block">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete' ~ prestation.id) }}">
                                        <button class="btn btn-danger w-45" type="submit" onclick="return confirm('Voulez-vous vraiment supprimer cette prestation ?');">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            </form>
                        {% else %}
                            <h2 class="card-title text-center">{{ prestation.titrePresta }}</h2>
                            <h3 class="card-price text-center">{{ prestation.prixHorairePresta }} €/heure</h3>
                            <p class="card-text text-center">{{ prestation.textePresta }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Aucune prestation disponible pour le moment.</p>
        {% endfor %}
    </div>
{% endblock %}
